{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Adicionar Exercício ao ficha</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- treino (não editável) -->
        <div class="mb-3">
            <label class="form-label">{{ form.ficha_id.label }}</label>
            
            {{ form.ficha_id(value=ficha.id) }}

        </div>

        <!-- Exercício -->
        <div class="mb-3">
            <label class="form-label">{{ form.exercicio_id.label }}</label>
            {{ form.exercicio_id(class="form-select") }}
            {% for error in form.exercicio_id.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Séries -->
        <div class="mb-3">
            <label class="form-label">{{ form.series.label }}</label>
            {{ form.series(class="form-control") }}
            {% for error in form.series.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Repetições -->
        <div class="mb-3">
            <label class="form-label">{{ form.repeticoes.label }}</label>
            {{ form.repeticoes(class="form-control") }}
            {% for error in form.repeticoes.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.carga.label }}</label>
            {{ form.carga(class="form-control") }}
            {% for error in form.carga.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.descanso.label }}</label>
            {{ form.descanso(class="form-control") }}
            {% for error in form.descanso.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.observacoes.label }}</label>
            {{ form.observacoes(class="form-control") }}
            {% for error in form.observacoes.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Botão -->
        <button type="submit" class="btn btn-primary">
            {{ form.submit.label.text }}
        </button>

    </form>
</div>
{% endblock %}
