.navbar {
    background-color: var(--cor-principal);
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: var(--cor-de-fundo) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.nav-link:hover {
    color: #f8d210 !important;
}

section.container-fluid.mt-4 {
  margin-top: 0 !important;
}

section.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


