.notificacao {
    margin-top: 5px;

}

.notificacao-lista__item-div {
    border-radius: 16px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-right: 32px;
    font-size: 10px !important;
}

.notificacao-lista__item-lista {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 5px 0 0 7px;
}

.notificacao-lista__item-lista {
    font-size: 12px !important;
    font-weight: 800 !important;
}

.notificacao-lista__item-lista--direita {
    padding-right: 10px;
}

.notificacao-lista__item-lista--esquerda {
    display: flex;
    align-items: center;
}

.notificacao-lista__item-lista--img {
    padding: 0px 0 15px 10px;
}

