
<div class="notificacao">
    <ul class="notificacao-lista">

        
        <div class="notificacao-lista__item-div">
            <li class="notificacao-lista__item-lista">
                <div class="notificacao-lista__item-lista--esquerda">
                    <p class="notificacao-lista__item-lista">Alunos ativos</p>
                    <img class="notificacao-lista__item-lista--img" src="../static/imagens/group_24dp_34C759_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </div>
                <div class="notificacao-lista__item-lista--direita">
                    <p class="notificacao-lista__item-lista">237</p>
                </div>
            </li>
        </div>

        <div class="notificacao-lista__item-div">
            <li class="notificacao-lista__item-lista">
                <div class="notificacao-lista__item-lista--esquerda">
                    <p class="notificacao-lista__item-lista">Pagamentos pendentes</p>
                    <img class="notificacao-lista__item-lista--img" src="../static/imagens/warning_24dp_FF2227_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </div>
                <div class="notificacao-lista__item-lista--direita">
                    <p class="notificacao-lista__item-lista">237</p>
                </div>
            </li>
        </div>

        <div class="notificacao-lista__item-div">
            <li class="notificacao-lista__item-lista">
                <div class="notificacao-lista__item-lista--esquerda">
                    <p class="notificacao-lista__item-lista">Planos a vencer</p>
                    <img class="notificacao-lista__item-lista--img" src="../static/imagens/schedule_24dp_FFCC00_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </div>
                <div class="notificacao-lista__item-lista--direita">
                    <p class="notificacao-lista__item-lista">237</p>
                </div>
            </li>
        </div>

        <div class="notificacao-lista__item-div">
            <li class="notificacao-lista__item-lista">
                <div class="notificacao-lista__item-lista--esquerda">
                    <p class="notificacao-lista__item-lista">Aniversariantes</p>
                    <img class="notificacao-lista__item-lista--img" src="../static/imagens/mood_24dp_0088FF_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </div>
                <div class="notificacao-lista__item-lista--direita">
                    <p class="notificacao-lista__item-lista">237</p>
                </div>
            </li>
        </div>

    </ul>
</div>