<footer class="rodape">

    <div class="rodape-conteudo">

        <div class="rodape-conteeudo__item">

            <ul>
                <li class="rodape-conteeudo__item-lista">
                    <img class="rodape-conteudo__item-img" src="../static/imagens/gamepad_down_24dp_FFCC00_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </li>
                <li>
                    <a class="rodape-conteudo__item-link" href="#">Vale Desenvolvimentos</a>
                </li>
            </ul>

        </div>

    </div>

</footer>